@import '../../scss/util/variables.scss';

.#{$prefix}-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 8px;
}

.#{$prefix}-dropdown-label {
    align-self: flex-start;
    padding-bottom: 4px;
}

.#{$prefix}-dropdown-select {
    position: relative;
    width: 100%;
}
    
.#{$prefix}-dropdown-selected {
    margin-right: auto;
    padding-left: 8px;
}

.#{$prefix}-dropdown-selected-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 0;
    font: inherit;
    font-size: 15px;
    background-color: inherit;
    color: inherit;

    @include themify($themes) {
        border-color: themed('input-border');
    }

    &:hover {
        @include themify($themes) {
            background-color: themed('select-hovered');
        }
    }
}

.#{$prefix}-dropdown-chevron {
    align-self: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    mask-image: url('../../assets/icons/chevron-down.svg');
    mask-size: contain;
    @include themify($themes) {
        background-color: themed('text');
    }
}

.#{$prefix}-dropdown-menu {
    visibility: hidden;
    display: none;

    &-active {
        visibility: visible;
        position: absolute;
        top: 0;
        width: calc(100% - 4px);
        max-height: 128px;
        overflow-y: scroll;
        z-index: 2;
        padding: 8px 0;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;

        @include themify($themes) {
            background-color: themed('select-menu-background');
            border-color: themed('input-border');
            //box-shadow: 2px 4px 4px themed('box-shadow');
        }

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }
}

.#{$prefix}-dropdown-option {
    padding: 4px 0 4px 8px;
    text-align: left;

    &:hover {
        @include themify($themes) {
            background-color: themed('select-option-hover');
        }
    }
}