@import '../../scss/util/variables.scss';

.#{$prefix}-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .25rem 0;
}

.#{$prefix}-dropdown-label {
    align-self: flex-start;
    padding-bottom: .25rem;
}

.#{$prefix}-dropdown-select {
    position: relative;
    width: 100%;
}
    
.#{$prefix}-dropdown-selected {
    margin-right: auto;
    padding-left: .5rem;
}

.#{$prefix}-dropdown-selected-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: .125rem;
    border-style: solid;
    border-radius: .5rem;
    padding: .25rem 0;
    font: inherit;
    font-size: 1rem;
    background-color: inherit;
    color: inherit;

    @include themify($themes) {
        border-color: themed('input-border');
    }

    &:hover {
        @include themify($themes) {
            background-color: themed('select-hovered');
        }
    }
}

.#{$prefix}-dropdown-chevron {
    align-self: center;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    mask-image: url('../../assets/icons/chevron-down.svg');
    mask-size: contain;
    @include themify($themes) {
        background-color: themed('text');
    }
}

.#{$prefix}-dropdown-menu {
    visibility: hidden;
    display: none;

    &-active {
        visibility: visible;
        position: absolute;
        top: 0;
        width: calc(100% - .125rem);
        max-height: 8rem;
        overflow-y: scroll;
        z-index: 2;
        padding: .5rem 0;
        border-width: .125rem;
        border-style: solid;
        border-radius: .5rem;

        @include themify($themes) {
            background-color: themed('select-menu-background');
            border-color: themed('input-border');
        }

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }
}

.#{$prefix}-dropdown-option {
    padding: .25rem 0 .25rem .5rem;
    text-align: left;

    &:hover {
        @include themify($themes) {
            background-color: themed('select-option-hover');
        }
    }
}