@import '../../../scss/util/variables.scss';

.#{$prefix}-landing-page-title {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.#{$prefix}-landing-page-profiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    max-width: 70%;
}