@import '../../scss/util/variables.scss';

.#{$prefix}-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: .25rem;
    border-style: none;

    @include themify($themes) {
        background-color: themed('button');
        color: themed('button-text');
        box-shadow: .125rem .125rem themed('button-drop');
    }

    &:focus, &:active {
        top: 1px;
        left: 1px;
        @include themify($themes) {
            background-color: themed('button-focus');
            box-shadow: 0 0 themed('button-drop');
        }
    }
}