@import '../../scss/util/variables.scss';

.#{$prefix}-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    padding: .5rem;
    margin-left: .4375rem;
    margin-right: .5625rem;
    border-radius: .25rem;
    border-style: none;

    @include themify($themes) {
        background-color: themed('color-primary');
        color: themed('text-secondary');
        box-shadow: .125rem .125rem themed('color-shadow');
    }

    &:focus, &:active {
        top: .125rem;
        left: .125rem;
        @include themify($themes) {
            background-color: themed('color-secondary');
            box-shadow: 0 0 themed('color-shadow');
        }
    }
}