//overall colors

//neutral
$white: #ffffff;
$black: #000000;

$grey-10: #eeeeee;
$grey-20: #e0e0e0;
$grey-30: #bdbdbd;
$grey-40: #9e9e9e;
$grey-50: #757575;
$grey-60: #616161;
$grey-70: #424242;
$grey-80: #212121;

//green
$green-10: #52bf90;
$green-20: #49ab81;
$green-30: #419873;
$green-40: #398564;
$green-50: #317256;
$green-60: #295f48;
$green-70: #204c39;
$green-80: #18392b;

//red
$red-10: #ffb2ae;
$red-20: #ff9994;
$red-30: #ff817b;
$red-40: #ff6961;
$red-50: #ff5148;
$red-60: #4d0400;
$red-70: #3a0300;
$red-80: #260200;

//blue
$blue-10: #acbdcb;
$blue-20: #839cb1;
$blue-30: #5a7b97;
$blue-40: #315b7d;
$blue-50: #274864;
$blue-60: #1d364b;
$blue-70: #132432;
$blue-80: #091219;