//overall colors

//neutral
$white: #ffffff;
$black: #000000;

$grey-10: #eeeeee;
$grey-20: #e0e0e0;
$grey-30: #bdbdbd;
$grey-40: #9e9e9e;
$grey-50: #757575;
$grey-60: #616161;
$grey-70: #424242;
$grey-80: #212121;

//green
$green-10: #52bf90;
$green-20: #49ab81;
$green-30: #419873;
$green-40: #398564;
$green-50: #317256;
