//thank u https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1

@import './colors.scss';

$themes: (
  light: (
      background: $white,
      background-hover: $grey-20,
      background-border: $grey-10,
      logo: $green-50,
      text: $grey-80,
      text-secondary: $white,
      box-shadow: $grey-80,
      color-primary: $green-50,
      color-secondary: $green-60,
      color-shadow: $green-70,
      input-border: $grey-60,
      notification-error-background: $red-10,
      notification-error-color: $red-50,
      notification-generic-background: $blue-10,
      notification-generic-color: $blue-50,
      title-bar-background: $grey-10,
  ),
  dark: (
      background: $grey-70,
      background-hover: $grey-60,
      background-border: $grey-80,
      logo: $green-10,
      text: $grey-20,
      text-secondary: $grey-80,
      box-shadow: $black,
      color-primary: $green-20,
      color-secondary: $green-30,
      color-shadow: $green-50,
      input-border: $grey-30,
      notification-error-background: $red-10,
      notification-error-color: $red-50,
      notification-generic-background: $blue-10,
      notification-generic-color: $blue-50,
  )
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
  
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
  
    }
  }

@function themed($key) {
    @return map-get($theme-map, $key);
}