//thank u https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1

@import './colors.scss';

$themes: (
    light: (
        app-background: $white,
        logo: $green-50,
        text: $grey-80,
        button: $green-30,
        button-focus: $green-40,
        button-drop: $green-50,
        button-text: $white,
        text-input-border: $grey-20,
        title-bar-background: $grey-10,
        title-bar-icon: $green-50,
        title-bar-text: $grey-80,
        title-bar-button-hover: $grey-30,
        title-bar-button-icon: $grey-80,
    ),
    dark: (
        app-background: $grey-70,
        logo: $green-10,
        text: $grey-20,
        button: $green-10,
        button-focus: $green-30,
        button-drop: $green-50,
        button-text: $grey-80,
        text-input-border: $grey-60,
        title-bar-background: $grey-80,
        title-bar-icon: $green-10,
        title-bar-text: $grey-20,
        title-bar-button-hover: $grey-60,
        title-bar-button-icon: $grey-20,
    )
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
  
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
  
    }
  }

@function themed($key) {
    @return map-get($theme-map, $key);
}