@import '../../scss/util/variables.scss';

.#{$prefix}-content {
    cursor: default;
    width: 100%;
    height: calc(100% - 24px);
    position: absolute;
    top: 24px;

    @include themify($themes) {
        background-color: themed('app-background');
        color: themed('text');
    }
}