@import '../../scss/util/variables.scss';

.#{$prefix}-text-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 8px;
}

.#{$prefix}-text-input-label {
    align-self: flex-start;
    padding-bottom: 4px;
}

.#{$prefix}-text-input {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 10px;
    font: inherit;
    font-size: 15px;
    background-color: inherit;
    color: inherit;

    @include themify($themes) {
        border-color: themed('input-border');
    }

    &:focus {
        outline: 0;
    }
}