@import '../../../scss/util/variables.scss';

.#{$prefix}-pc-form-container {
    display: flex;
    flex-direction: row;
}

.#{$prefix}-pc-input-container {
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem;
}

.#{$prefix}-pc-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: .5rem;
}